<h4>Post details</h4>
<p>
	<%= @row['content'] %>
		<br />	
		<br />
		Added at <%= @row['created_date'] %>
</p>

<h4>Coments</h4>
<br />
<% @comments.each do |comment| %>
	<p>
		<%= comment['content']%>
		<br />
		<span style="font-size: 75%; color: #999 ">Added at <%= @row['created_date'] %></span>
	</p>
	<hr />
<% end %>

<form action="/details/<%= @row['id']%>" method="POST">

   	<textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Введите текст коммента"></textarea>
  	<br />
  	<button type="submit" class="btn btn-primary">Add comment</button>
 </form> 	